BasedOnStyle: LLVM
IndentWidth: 2
ColumnLimit: 160
AlignAfterOpenBracket: AlwaysBreak
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortFunctionsOnASingleLine: Empty
BinPackArguments: false
BinPackParameters: false
BreakTemplateDeclarations: Yes
Cpp11BracedListStyle: false
IndentPPDirectives: BeforeHash
PenaltyReturnTypeOnItsOwnLine: 1000000
PointerAlignment: Left
